.inputFormPage {
	width: 15em;
}

label {
	display: flex;
	font-weight: bold;
	flex-direction: column;
	width: 100%;
	margin-top: 1em;
}

.infoLabel::before {
	content: " ";
	position: absolute;
	transform: translateY(calc(2rem - 1px)) scaleX(0);
	height: 2px;
	width: 100%;
	background-color: black;
	transition: transform 200ms ease-out;
}

.infoLabel:focus-within::before {
	transform: translateY(calc(2rem - 1px)) scaleX(100%);
}

form {
	width: 100%;
	transition: transform 200ms ease;
	background: white;
}

.textInput {
	box-sizing: border-box;
	padding: .5em;
	padding-bottom: calc(.5em + 1.5px);
	width: 100%;
	border: none;
	outline: none;
	border-bottom: 1.5px solid black;
	font-weight: bold;
}

input[type=submit] {
	position: relative;
	left: 180px;
	margin-top: 1em;
	background: white;
	border: 2px solid black;
	font-weight: bold;
}

.confirmation {
	position: fixed;
	font-weight: bold;
	top: 6rem;
	left: 100vw;
	opacity: 0;
	z-index: 10;
	transition: transform 200ms ease, opacity 200ms ease;
}

.confirmation.display {
	opacity: 1;
	transform: translateX(calc((100% + var(--pad) *2) * -1));
}


@media screen and (max-width:815px) {
	form:focus-within {
		transform: translateY(-50vh);
	}
}