.App {
	text-align: center;
	--pad: max(20px, 4vmin);
}

.App-link {
	color: #61dafb;
}

h1 {
	position: fixed;
	margin-left: calc(var(--pad) + .5em);
	margin-top: calc(var(--pad) + .25em);
	font-size: calc(min(max(9vmin, 25px), 3em));
	font-weight: 100;
}

.Frame {
	margin: var(--pad);
	height: calc(100% - var(--pad) * 2);
	width: calc(100% - calc(var(--pad) * 2));
	border: 1px solid black;
	align-items: center;
	position: fixed;
	image-rendering: -moz-crisp-edges;
	image-rendering: -webkit-crisp-edges;
	image-rendering: pixelated;
	image-rendering: crisp-edges;
	pointer-events: none;
}