.App {
	text-align: center;
}

.App-link {
	color: #61dafb;
}

h1 {
	position: fixed;
	margin-left: 10vh;
	margin-top: 10vh
}

.Frame {
	margin: 6vh;
	height: 88vh;
	width: calc(100% - 12vh);
	border: 2px solid black;
	align-items: center;
	position: fixed;
}